.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  height: 100vh;
}
.ipl-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ipl-heading-container {
  font-family: 'Bree Serif';
  display: flex;
  justify-content: center;
  align-items: center;
}
.ipl-logo {
  width: 30px;
  margin-right: 10px;
}
.ipl-heading {
  font-size: 42px;
  color: white;
}
.teams-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 55%;
}
@media (min-width: 768px) {
  .app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}
